<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/launch/include/click_map.rviz" required="true" />

    <node pkg="map_generator" name="clicl_map_node" type="click_map" output="screen">
        <param name="map/len2" value="0.15" type="double"/>
        <param name="map/resolution" value="0.5" type="double"/>
        <param name="map/wall_height" value="5.0" type="double"/>
    </node>

</launch>